.kutu1{
    background-color: aqua;
    margin:10px 20px;
    padding: 10px 20px;

}

.kutu2{
    background-color: blue;
    padding: 10px 20px;


}
/*inline elemmentler sadece yatayda padding ve margin alırılar */
em{

    padding: 20px
}