*{
    color:rgb(255, 0, 13) ; 
}


.highlight{
font-size: 1.2rem;
color:rgba(4, 0, 255, 0.973)


}

.center{

}

h1.center{

background-color: rgb(129, 124, 124);

}

#p1{

    text-align: justify;
}

.span1{
color:rgb(10, 197, 57);

}